* {
    margin: 0;
    padding: 0;
    
}
    :root {
    --color: #141414;
    --int: calc(1vw + 1vh);
    --transition: 1.25s cubic-bezier(.2, .5, 0, 1);
    --transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
}
    @font-face {
    font-family: arsenal_f;
    src: url(../fonts/arsenal-regular.woff2);
}
    
.magic-list {
    font-family: arsenal_f, sans-serif;
    font-size: calc(var(--int) * 2);
    padding: calc(var(--int) * 2);
}
.magic-list__item {
    cursor: none;
    color: var(--color);
    text-decoration: none;
    display: block;
    line-height: .9;
    border-bottom: 1px solid #141414;
    counter-increment: my-counter;
}
.magic-list__item:first-child {
    border-top: 1.5px solid var(--color);
}
.magic-list__header {
    transition: transform var(--transition);
}
.magic-list__item::before {
    letter-spacing: .5px;
    transition: transform var(--transition);
}
.magic-list__item:hover .magic-list__header,
.magic-list__item:hover::before {
    transform: translate3d(calc(var(--int) * -5), 0, 0);
}
.cursor {
    --width: calc(var(--int) * 20);
    --height: calc(var(--int) * 15);
    position: fixed;
    width: var(--width);
    height: 0;
    z-index: -1;
    will-change: transform;
}
.magic-list__item:hover .cursor {
    height: var(--height);
}
    .cursor__image {
    position: relative;
    background-size: cover;
    background-position: center;
}
.magic-list__item:hover .cursor__image {
    transform: var(--cursor-transform) scale(1);
}